* * * * * /usr/bin/python /home/ubuntu/forex_ma_worker/forex_moving_average_account_worker.py
0 7 * * * /usr/bin/python /home/ubuntu/forex_ma_worker/forex_moving_average_tick_worker.py
5 7 * * * /usr/bin/python /home/ubuntu/forex_ma_worker/forex_moving_average_queue_worker.py
10 7 * * * /usr/bin/python /home/ubuntu/forex_ma_worker/forex_moving_average_order_worker.py

mkdir .aws
vim credentials
pip install request
